# Auto detect text files and perform LF normalization
* text=auto

# Exclude files from the download archive
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
.git export-ignore